#area-absolute{
    width: 50vh;
    height: 50vh;
    background-color:aqua;
    margin: 30px auto;
    position: relative;
}

#area-absolute div{ 
    background-color:red;
    color: white;
    font-size: 3rem;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
}

#area-absolute div:nth-of-type(4){
    bottom: 0;
    right: 0;
}
#area-absolute div:nth-of-type(3){
    bottom: 0;
    left: 0;
}
#area-absolute div:nth-of-type(2){
    top: 0;
    right: 0;
}